
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Noto Serif SC', serif;
    background: #f5f5f5;
    color: #333;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6a1b9a; /* 胆大心细的紫色 */
}

input[type="text"], input[type="password"] {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #6a1b9a;
    outline: none;
    transition: border-color .3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #ffab40; /* 显眼的橙色作为焦点时的边框颜色 */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #6a1b9a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background .3s;
}

button:hover {
    background: #ffab40; /* 按钮悬停时变为橙色 */
}
